# Copyright (c) 2020, Psiphon Inc.
# All rights reserved.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

# Systemd script for running the autoresponder.
# Copy to /etc/systemd/system/

[Unit]
Description=Psiphon autoresponder daemon
Requires=local-fs.target network.target

[Service]
Type=simple
User=feedback_decryptor

# Allow up to 'TimeoutStartSec' seconds to report as started prior
# to marking the service as failed. Setting to 0 allows unlimited time
TimeoutStartSec=5

# Number of File Descriptors / fds: ulimit nofile=1000000:1000000
# Single number will set both soft and hard limit to same number
# If we want to set soft and hard limit to different number, use ':'
LimitNOFILE=1000000

# Restart automatically on failure
Restart=always
RestartSec=5
StartLimitBurst=99
StartLimitInterval=400
NotifyAccess=all

# Execute these commands when stopping the service
ExecStop=/bin/kill -s SIGINT $MAINPID

# Enable for debug logging
#Environment=DEBUG=1

WorkingDirectory=fill-in-with-path-to-source
ExecStart=/opt/psiphon/venv/bin/python service_autoresponder.py

[Install]
# "multi-user.target" refers to the system being at runlevel 3
WantedBy=multi-user.target
