jsonpickle==2.0.0
cogapp==3.3.0 
twitter==1.19.3 
pyyaml==5.3.1 
future==0.18.2 
Pillow==6.2.2 
M2Crypto==0.38.0
linode_api4==2.2.1
python-digitalocean==1.14.0
boto==2.49.0
slumber==0.7.1
qrcode==6.1
cachetools==3.1.1
